body{
	background-color: #CCE5FF;
}
h1{
	font-family:'Tajawal', sans-serif;
}
a{
	text-decoration: none;
	color: black;
}
a :hover{
	text-decoration: underline;
	color: red;
}

.card{
	background-color: #e3e2e1;
}